<div class="alert alert-success"><%= notice %></div>

<p>
  <%= @status.user %>
</p>

<p>
  <%= @status.content %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
